*~
/.htaccess*
/.idea
/LICENSE_AFL.txt
/LICENSE.html
/RELEASE_NOTES.txt
/api.php
/app/.htaccess
/app/code/community/Cm
/app/code/community/Phoenix
/app/code/core
/app/code/local
/app/design
/app/etc/modules/Cm_*
/app/etc/modules/Mage_*
/app/etc/modules/Phoenix_*
/app/etc/config.xml
/app/etc/local.xml*
/app/locale/*/*.csv
/app/locale/*/template
/app/Mage.php
/cron.php
/cron.sh
/downloader
/errors
/favicon.ico
/get.php
/includes
/index.php
/index.php.sample
/install.php
/js
/lib
/mage
/media
/php.ini.sample
/pkginfo
/shell
/skin
/var