<?xml version="1.0"?>
<!--suppress XmlUnboundNsPrefix -->
<config>
    <modules>
        <Hackathon_MultiServer>
            <version>0.1.0</version>
        </Hackathon_MultiServer>
    </modules>
    <global>
        <models>
            <hackathon_multiserver>
                <class>Hackathon_MultiServer_Model</class>
                <resourceModel>hackathon_multiserver_resource</resourceModel>
            </hackathon_multiserver>
            <hackathon_multiserver_resource>
                <class>Hackathon_MultiServer_Model_Resource</class>
            </hackathon_multiserver_resource>
            <index>
                <rewrite>
                    <process>Hackathon_MultiServer_Model_Index_Process</process>
                </rewrite>
            </index>
        </models>
        <helpers>
            <hackathon_multiserver>
                <class>Hackathon_MultiServer_Helper</class>
            </hackathon_multiserver>
        </helpers>

        <events>
            <multiserver_file_change>
                <observers>
                    <hackathon_multiserver_rsync>
                        <type>singleton</type>
                        <class>hackathon_multiserver/trigger_listener_rsync</class>
                        <method>trigger</method>
                    </hackathon_multiserver_rsync>
                    <hackathon_multiserver_log>
                        <type>singleton</type>
                        <class>hackathon_multiserver/trigger_listener_log</class>
                        <method>trigger</method>
                    </hackathon_multiserver_log>
                </observers>
            </multiserver_file_change>
        </events>

        <multiserver>
            <rsync>
                <active>1</active>
                <servers>
                    <amazon1>
                        <name>Amazon 1</name>
                        <host>54.76.55.50</host>
                        <port>22</port>
                        <path>/home/magento</path>
                        <user>magento</user>
                        <active>1</active>
                    </amazon1>

                    <ramnode1>
                        <name>RamNode 1</name>
                        <host>81.4.126.241</host>
                        <port>22</port>
                        <path>/var/www/magento</path>
                        <user>magento</user>
                        <active>1</active>
                    </ramnode1>
                </servers>
            </rsync>

            <log>
                <active>1</active>
                <filename>iets.log</filename>
            </log>
        </multiserver>

    </global>
</config>